@charset "utf-8";
/* CSS Document */

* {
	font-family: Dunkin;
}

@font-face {
  	font-family: Dunkin;
  	src: url(../fonts/Dunkin.ttf);
}

body {
	background-color: #EAEAEA;
}

#nav {
	width: 91%;
	margin: auto;
}

.caixa {
}

.pestanya {
	padding: 0.5em;
	padding-left: 2.5em;
	padding-right: 2.5em;
	margin-top: 2.5em;
}

.pestanya:hover {
	background-color: #E64413;
	color: white;
}

.link {
	text-decoration: none;
	color: #E64413;
}

#cuenta {
	color: white;
	font-size: 2em;
}

#form {
	background-color: white;
	padding: 4em;
	border-radius: 7em 7em 0 7em;
	border: solid #E64413;
	width: 60%;
	margin: auto;
	overflow: hidden;
}

.u {
	width: 50%;
}

.dos {
	width: 50%;
	float: right;
}

form input {
	color: #E64413;
}

#submit {
	color: white;
	background-color: #E64413;
	padding: 0.5em;
	border: solid black;
	border-radius: 1em;
}

.pad {
	padding: 1em;
}