@charset "utf-8";
/* CSS Document */

body {
	background-color: #3E3E3E;
}

#navtitol {
	text-decoration: none;
	font-size: 2em;
}

#navlink {
	float: right;
	margin-right: 2.5em;
	margin-top: 0.3em;
	font-size: 1.2em;
}

nav {
	background-color: #FDDB5B;
	padding: 1em;
	border: solid 0.2em white;
	border-radius: 1em;
}

#caixa {
	width: 50%;
	margin: auto;
	margin-top: 3em;
	background-color: #FDDB5B;
	padding: 1em;
	border: solid 0.2em white;
	border-radius: 1em;
}

#caixaUpload {
	width: 80%;
	margin: auto;
	margin-top: 3em;
	background-color: #FDDB5B;
	padding: 1em;
	border: solid 0.2em white;
	border-radius: 1em;
}

.input {
	width: 90%;

}

form {
	width: 100%;
}

#titolUpload {
	font-size: 3em;
	margin-left: 1em;
}

#textUpload {
	font-size: 1.5em;
	margin-left: 3em;
}

.d-none {
	display: none;
}